* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: Mont;
    src: url(Assets/Montserrat-VariableFont_wght.ttf);
}

a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

html {
    scroll-behavior:smooth ;
}
.item {
    font: 500 1.875rem 'Mont', sans-seriff;
    color: #678471;
}
.item:hover {
    color: #FFA36A;
    transition: 0.5s;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* THE DIVISON 2 */
.divisao {
    height: 1px;
    background-color:#47564c;
    margin: 23px 0;
}
/* NOSSA FOOD */
.nossaComida {
    width: 600px;
    height: auto;
}

.container {
    display: flex;
    margin: 0 80px;

}
.titulo {
    font: 700 33px 'Mont', Sans-Serif;
    color: #47564c;
}

    .texto {
        font: 300 20px 'Mont', sans-serif;
        color: black;
        text-align: justify;
    }

    .conteudo {
        margin: 60px 0 0 40px;

    }
    /* NOSSA EQUIPE */
    .panelas {
        width: 1300px;
        height: auto;
        border-radius: 8px;
        margin-left: 30px;
    }
    /* CARDAPIO */
    .comida {
        width: 150px;
    }

    .comida:hover {
        width: 200px;
        cursor: pointer;
        transition: 0.3s;
    }
    .pratos {
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
    }

    .prato {
        border: 2px solid black;
        width: 300px;
        margin: 20px;
        border-radius: 5px;
        padding: 5px;
    }
    .cardapio-conteudo {
        display: flex;
        flex-direction: column;
    }

    .cardapio {
        margin: 0 80px;
    }

    .nome , .preco {
        font: 700 20px 'Mont', sans-serif;
    }

    .descricao {
        font: 400 15px 'Mont', sans-serif;
        text-align: justify;
    }

    /* RODAPÉ */

    #contato {
        background-color: #678471;
        padding: 30px;
    }

    #contato .container{
        display: flex;
        justify-content: space-around;
    }


    .icone {
        width: 45px;
        padding: 8px;
        
    }

    .name {
        display: flex;
        flex-direction: column ;
        width: 600px;
        margin-right: 80px;
    }

    .name .amm {
        font: 500 40px 'Mont', sans-serif;
        color: #fff;
    }

    .name .cs {
        font: 500 20px 'Mont', sans-serif;
        color: #FFA36A;

    }

    .redes {
        display: flex;
        flex-direction: column;
        width: 600px;
        justify-content: center;
    }
    .rede {
        display: flex;
        text-align: center;
    }
    .rede-nome {
        font: 500 20px 'Mont', sans-serif;
        color: #fff;
        text-align: center;
    }
    .endereco {
        margin: 0 80px;
    }

    .endereco-titulo {
        font: 500 40px 'Mont', sans-serif;
        color: #fff;
    }

    .endereco-nome{
        font: 300 18px 'Mont',sans-serif;
        color: #fff;
        text-align: justify;
     }
